{{> navbar}}
<div class="container-fluid">
  <div class="row bg-brown full-height">
  <div class="col-lg-12">
 <div class="mx-auto green-text" id="about">
    <img class=" rounded-circle" src="http://emilcarlsson.se/assets/harveyspecter.png" alt="First slide">
    <h2 class="green-text"><b>Meet Chef Ann</b></h2>
        <p>
        HELLO!!! Everyone and welcome to my blog.<br><br>
        My name is Okafor Maryann. I studied at Covenant University with the bachelor degree in computer engineering. The passion of food drove me when I was in my second year. I always wanted to be a chef so I went to a Culinary school known as CMK (Culinary Mobile Kitchen) in Lagos Nigeria.<br><br>
        From there, the love for food grew more not just Nigeria cuisine but different kinds of cuisine in the world. My goal is to one day have a culinary school where everyone who are passionate about food learn every basics in food and help the young chefs to achieve their dreams in the culinary world.<br><br>
        My recipes are rooted to all different types of dishes in the world. My goal with this blog is to make every complicated recipes very easy and simple as much as possible. With the new recipes I create, the aim is that they serve a purpose beyond appeal.    
        </p> 
      </div>
  </div>
  </div>
  
<div class="row full-height">
  <div class="col-lg-6 bg-green gold-text p-3" id="address">
   <h1 class="gold-text">Address</h1>
   <p>4A, Some Bourgeouise street,<br> Some Elite Avenue, <br>Some Elite Town,<br> Ikoyi Lagos</p>
  </div>
   <div class="col-lg-6 p-3">
    <form>
    
    </form>
  </div>
  </div>  
  </div>
{{> footer}}