
    {{> navbar}}
    <div class="container-fluid">
    {{!-- heading --}}
    <div class="ro2 mx-4">
    <div class="col-lg-12">
    <h2 class="m-4">Feast Your Tastebuds with gourmet dishes</h2>
    </div>
    </div> 
    {{!-- content --}}
    <div class="row mx-5">
    <div class="col-lg-2 mt-2">
    <h4>Dishes</h4>
    <button type="button" class="filter" onclick="showCheck()">Rice  <i class="fa fa-check filter-check"></i></button>
    <button type="button" class="filter" onclick="showCheck()">Beans <i class="fa fa-check filter-check"></i></button>
    <button type="button" class="filter" onclick="showCheck()">Soup <i class="fa fa-check filter-check"></i></button>
    <button type="button" class="filter" onclick="showCheck()">Porridge <i class="fa fa-check filter-check"></i></button>
    <br><br>
    <h4>Price</h4><small class="per-plate">per plate</small>
    <button type="button" class="filter" onclick="showCheck()"> <1000  <i class="fa fa-check filter-check"></i></button>
    <button type="button" class="filter" onclick="showCheck()">1000 - 2000 <i class="fa fa-check filter-check"></i></button>
    <button type="button" class="filter" onclick="showCheck()">2000 - 3000 <i class="fa fa-check filter-check"></i></button>
    <button type="button" class="filter" onclick="showCheck()"> >3000 <i class="fa fa-check filter-check"></i></button>
    </div>
    <div class="col-lg-10 mt-2">
    <div class="row">
    <div class="col-lg-3 mb-3">
    <img src="/public/img/cards/fruits.jpg" width="200px">
    <div class="card-details">
        <p class="item-name text-center pb-0 mb-0 mt-3">Fruit Salad</p>
        <p class="item-price text-center p-0">1500</p>
    </div>
    </div>
    <div class="col-lg-3 mb-3">
    <img src="/public/img/cards/fried-chicken.jpg" width="200px">
    <div class="card-details">
    <p class="item-name text-center pb-0 mb-0 mt-3">Fruit Salad</p>
    <p class="item-price text-center">1500</p> 
    </div>
    </div>
    <div class="col-lg-3 mb-3">
    <img src="/public/img/cards/kimchi-fried-rice-.jpg" width="200px">
    <div class="card-details">
    <p class="item-name text-center pb-0 mb-0 mt-3">Fruit Salad</p>
    <p class="item-price text-center">1500</p>    
    </div>
    </div>
    <div class="col-lg-3 mb-3">
    <img src="/public/img/cards/chicken.jpg" width="200px">
    <div class="card-details">
    <p class="item-name text-center pb-0 mb-0 mt-3">Fruit Salad</p>
    <p class="item-price text-center">1500</p>    
    </div>
    </div>
    </div>
    {{!-- end of first row --}}
    <div class="row">
    <div class="col-lg-3 mb-3">
    <img src="/public/img/cards/fruits.jpg" width="200px">
    <div class="card-details">
    <p class="item-name text-center pb-0 mb-0 mt-3">Fruit Salad</p>
    <p class="item-price text-center">1500</p> 
    </div>
    </div>
    <div class="col-lg-3 mb-3">
    <img src="/public/img/cards/fried-chicken.jpg" width="200px">
    <div class="card-details">
    <p class="item-name text-center pb-0 mb-0 mt-3">Fruit Salad</p>
    <p class="item-price text-center">1500</p>   
    </div>
    </div>
    <div class="col-lg-3 mb-3">
    <img src="/public/img/cards/kimchi-fried-rice-.jpg" width="200px">
    <div class="card-details">
    <p class="item-name text-center pb-0 mb-0 mt-3">Fruit Salad</p>
    <p class="item-price text-center">1500</p>   
    </div>
    </div>
    <div class="col-lg-3 mb-3">
    <img src="/public/img/cards/french-fries.jpg" width="200px">
    <div class="card-details">
    <p class="item-name text-center pb-0 mb-0 mt-3">Fruit Salad</p>
    <p class="item-price text-center">1500</p>     
    </div>
    </div>
    {{!-- end of second row --}}
    </div>
    </div>

    </div> 

    <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>
  
    {{> footer}}
   